.env
frontend/dist
frontend/node_modules/*
functions/node_modules/*
functions/coverage/*
functions/lib/*
.firebase/*
service_account_key.json
functions/logs/*
functions/test-results/*
functions/firestore-debug.log
.vscode